<!--correct_guess.erb-->

<h1>Excellent choice!</h1>

You're guess is correct.  

<form method="post" action="/return_home">
  <button type="submit" name="back_to_home">
    Fancy another go?
  </button>
</form>