<!-- home.erb -->


<h1>Movie LOVERS Trivia Homepage</h1>

<form method="post" action="/search"> 
	<label>Let the trivia begin!</label> <!--label visible on page -->
	<input type="text" name="user_entry" placeholder="search movie keyword">
	<button type="submit" name="submit_user_entry">submit</button>
</form>

