<!--incorrect_guess.erb-->


<h1>Oops, not the correct answer.</h1>

Play again? 

<form method="post" action="/return_home">
  <button type="submit" name="back_to_home">
    Sure, another try!
  </button>
</form>