
<% if Date.today.tuesday? %>
<h1> about me YO </h1>
<img src="/IMG_1482.jpg">
<p> 
<h2>rachel:</h2> 
fashion-forward gal, MAKER OF THINGS, music enthusist, FOODIE, cat person, TENNESSEAN. <%= Date.today %>
</p>
<% end %>