
<!-- views/recipe_page.erb -->

<link rel="stylesheet" href="/styles.css">

<h1> My Recipe For <%= @name %> </h1>

<h2> Ingredients </h2>

<ol class="ingredients">
  <% @ingredients.each do |the_ingredient| %>
    <li> <%= the_ingredient %> </li>
  <% end %>
</ol>

<img src="/magic.gif">