<h1>Online Calculator</h1>

<h2>Result of calculation</h2>

<p> The result was <%= @result %>. </p>


<form method="post" action="/save_to_memory">
  <input type="hidden"
      name="result" value="<%= @result %>">

  <button type="submit" name="result" value="<%= @result %>">
    Save this result for later
  </button>
</form>