<!-- home.erb -->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1> HOME PAGE </h1>


<form method="post" action="/login_status" method="POST">
	<input type="email" name="email" id = "email" placeholder="username or email">
	<input type="password" name="password" id = "email" placeholder="password">

	<button type="submit" name="login">Login</button>
</form>
</body>
</html>
