// Place all the styles related to the SandwichViews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #FF9375;
}

.header{
	text-align: right;
}

.subs{
	display: block;
	width: 50%;
}

.ingredient_button{
	display: inline-block;
}