<!-- app/views/site/home.html.erb -->


<h1>Welcome to this timetracking tool</h1>

<p>Ironhack powered</p>

<!-- putting parital HTML content, understood _ in beginning of file name -->
<%= render("partials/sign_up")%>
<a href="/contact"></a>