<!--home_page.erb -->

<h1>| Online Calculator |</h1>
<h2>Choose your operator:</h2>
<ul>
	<li> <a href="/add">Add page</a></li>
	<li> <a href="/subtract">Subtract page</a></li>
	<li> <a href="/multiply">Multiply page</a></li>
	<li> <a href="/divide">Divide page</a></li> 
</ul>
