<!-- views/multiply.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>You've reached MULTIPLY | </title>
</head>
<body>
  <h1>Multiply</h1>
  <!--one way to code the input
  <label for ="input1">First number:</label>
  <input type="number" id="input1" placeholder="number goes here"> + 
  <label for ="input2">Second number:</label>
  <input type="number" id="input2" placeholder="number goes here"> -->

<form action="/calculate_multiply" method="POST">
	<input type="number" name="first_number"placeholder="first number"> *
	<input type="number" name="second_number"placeholder="second number">

	<!--not sure why they didn't include this
	example
	<button type="submit" name="btn" value="edit">Edit</button>
	<button type="submit" name="btn" value="copy">Make a copy</button> -->

	<button type="submit">Calculate</button>
</form>

</body>
</html>